<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Location: Burnaby Heart Rate: 98 BPM Presperation:  </a>
  <a href="#" class="list-group-item list-group-item-action">Location: Burnaby Heart Rate: 90 BPM Presperation: </a>
  <a href="#" class="list-group-item list-group-item-action">Location: Vancouver Heart Rate: 120 BPM Presperation:</a>
  <a href="#" class="list-group-item list-group-item-action">Location: Vancouver Heart Rate: 95 BPM Presperation:</a>
</div>
