<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">
    <b>Location:</b> Burnaby <b>Heart Rate:</b> 98 BPM <b>Perspiration:</b>  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <b>Location:</b> Burnaby <b>Heart Rate:</b> 90 BPM <b>Perspiration:</b> </a>
  <a href="#" class="list-group-item list-group-item-action">
    <b>Location:</b> Vancouver <b>Heart Rate:</b> 120 BPM <b>Perspiration:</b></a>
  <a href="#" class="list-group-item list-group-item-action">
    <b>Location:</b> Vancouver <b>Heart Rate:</b>  95 BPM <b>Perspiration:</b></a>
</div>
