<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Location: Burnaby Heart Rate: 98 BPM 
      <span class="badge badge-pill badge-success">Responded</span>
      <span class="badge badge-pill badge-success">Clear</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Location: Burnaby Heart Rate: 90 BPM Presperation: 
      <span class="badge badge-pill badge-success">Responded</span>
      <span class="badge badge-pill badge-success">Clear</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Location: Vancouver Heart Rate: 120 BPM Presperation:
      <span class="badge badge-pill badge-success">Responded</span>
      <span class="badge badge-pill badge-success">Clear</span>
  </a>
  <a href="#" class="list-group-item list-group-item-action">Location: Vancouver Heart Rate: 95 BPM Presperation:
      <span class="badge badge-pill badge-success">Responded</span>
      <span class="badge badge-pill badge-danger">Not Clear</span>
  </a>
</div>
