<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...\Pics\thumb_funny-avatar-mr-bean-2778088.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Contacts (Primary)</h5>
      <p class="card-text">Mother: 778-123-4567</p>
      <a href="#" class="btn btn-primary">Set Primary</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="C:\Users\James Kan\Desktop\shiftWeb2\src\assets\thumb_funny-avatar-mr-bean-2778088.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Contacts (Secondary)</h5>
        <p class="card-text">Father: 778-234-5678</p>
        <a href="#" class="btn btn-primary">Set Primary</a>
      </div>
    </div>