<nav >
    <div> 
      <img src="assets/1ED3EAA3-2D01-4825-986E-57C08FBE4B95.png">
        <ul>
                
           
     <li>
          <a routerLink="Update">
         <i class="material-icons">add_to_queue</i>
       </a>
     </li>
     <li>
         <a routerLink="Posting">
           <i class="material-icons">horizontal_split</i>
         </a>
       </li>
       <li>
         <a routerLink="Generate">
           <i class="material-icons">code</i>
         </a>
       </li>
     </ul>
     
      </div>
</nav>