<nav >
    <div>
        <ul>
          <br>
       <li>
         <div align="center">
           <img src="assets/logo.png"></div>
       </li>
        <br>
     <li>
          <a routerLink="approval">
         <i class="material-icons">add_to_queue</i>
       </a>
     </li>
     <li>
         <a routerLink="Posting">
           <i class="material-icons">horizontal_split</i>
         </a>
       </li>
       <li>
         <a routerLink="Generate">
           <i class="material-icons">code</i>
         </a>
       </li>
     </ul>
     
      </div>
</nav>
